Repository effigy-se/effigy-se, pull requests merged in 2023-09, with the labels that each got.

#428 Rimpoint
  _maps/RandomRuins/JungleRuins/deadorgone.dmm
  _maps/RandomRuins/JungleRuins/luna.dmm
  _maps/map_files/RimPoint/RimPoint.dmm
  _maps/rimpoint.json
  _maps/shuttles/arrival_rimpoint.dmm
  _maps/shuttles/emergency_rimpoint.dmm
  code/__DEFINES/_effigy/maps.dm
  code/controllers/subsystem/mapping.dm
  config/effigy_config.txt
  config/jungleruinblacklist.txt
  config/maps.txt
  local/code/controllers/configuration/entries/game_options.dm
  local/code/controllers/subsystem/automapper/area_spawn_subsystem.dm
  local/code/datums/ruins/jungle.dm
  local/code/datums/shuttles.dm
  local/code/game/area/areas/mining.dm
  local/code/game/area/areas/ruins/jungle.dm
  local/code/game/objects/items/weaponry.dm
  local/code/game/turfs/open/chasm.dm
  local/code/game/turfs/open/floor/hull.dm
  local/code/modules/power/lighting/solarlight.dm
  local/icons/mob/inhands/weapons/swords_lefthand.dmi
  local/icons/mob/inhands/weapons/swords_righthand.dmi
  local/icons/obj/lighting.dmi
  local/icons/obj/weapons/sword.dmi
  local/sound/ambience/luna.ogg
  tgstation.dme
Labels: Feature, Config Update, Test Merge Candidate

#434 Updates Some Of Our Ported Modules, Again
  local/code/modules/lewd/lewd_chemistry/reagents/_aphrodisiac.dm
  local/code/modules/lewd/lewd_clothing/bdsm_mask.dm
  local/code/modules/mob/living/emotes/emotes.dm
  local/code/modules/modular_implants/nif_research.dm
Labels: Fix, Balance, Mirror/Port

#416 material airlock json config
  local/code/datums/greyscale/greyscale_configs.dm
  local/code/game/machinery/doors/airlock.dm
Labels: Stale-b-gone

#448 Fixes One Non-CI Issue, And One CI Issue
  config/maps.txt
  local/code/modules/liquids/ocean_flora.dm
Labels: Config Update
